button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: var(--wp--preset--color--white);
	line-height: 1rem;
	padding: calc(0.667em + 2px) 1.2em;
	font-size: 1rem;
	font-weight: 400;

	&:hover {
		border-color: $color__border-button-hover;
	}
}

.wp-element-button {
	padding: calc(0.667em + 2px) 1.2em;
}
